$color:#91FFFF;
*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'zzgf';
  color:$color;
}
a{
  // color:$color;
  &:hover{
    // color:$color;
  }
}
@font-face{
  font-family: 'zzgf';
  src:url('../../../static/fonts/造字工房坚黑.ttf');
}
@mixin fontColor($middle:40%,$end:60%) {
  background:-webkit-linear-gradient(top,#fff,#fff $middle,#81a7a7 $end,#115A5A);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
} 

/*滚动条样式*/
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #579693;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}

/* flex布局 */
.flex{
	flex:1;
}
.layout-row{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  @for $i from 1 through 100 {
    >.flex-#{$i} {
      max-width: $i+%;
      min-height: 100%;
      // flex:$i 0 $i+%;
      flex:0 0 $i+%;
    } 
  }
}
.layout-column{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  @for $i from 1 through 100 {
  	>.flex-#{$i} {
      min-width: 100%;
      max-height: $i+%;
  		// flex:$i 0 $i+%;
      flex:0 0 $i+%; 
  	} 
  }
}
/* nav，表格样式 */
.nav-box,.grid-box{
  .nav-head{
    display:flex;
    align-items: flex-end;
    justify-content: center;
    height:82px;
    padding-bottom: 10px;
    background:url('../image/nav/顶部.png') no-repeat;
    .title{
      font-size:18px;
      width:100%;
      margin: 0 8px;
      height:42px;
      line-height: 42px;
      background:url('../image/nav/title.png') no-repeat 0 0/100% 100%;
      &:before{
        content:'';
        margin: 0 10px;
        vertical-align:middle;
        display:inline-block;
        width:31px;
        height:31px;
        background:url('../image/nav/titleIcon.png') no-repeat;
      }
    }
  }
  .nav-containt{
    padding:5px 0;
    align-items: center;
    background:url('../image/nav/中间.png') repeat-y 0 0/100% 100%;
    li{
      cursor:pointer;
      width:206px;
      height:67px;
      margin:5px 0;
      line-height:67px;
      font-size:18px;
      display:flex;
      align-items: center;
      background:url('../image/nav/button.png') no-repeat;
      p{
        font-size:18px;
        display:inline-block;
        width:100%;
        text-align:center;
      }
      &:before{
          content:'';
          padding: 0 10px;
          margin-left: 30px;
          width: 25px;
          height: 21px;
          display: inline-block;
          background:url('../image/nav/icon.png') no-repeat;
      }
    }
  }
  &:after{
    content:'';
    display: inline-block;
    width: 100%;
    height:26px;
    background:url('../image/nav/底部.png') no-repeat  0 0/100% 100%;
  }
}
/* 包裹盒子样式 */
.containbox{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .title{
    @include fontColor;
    margin:15px 0;
    font-size: 15px;
    font-weight:900;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items:center;
    &:before{
      margin-right: 15px;
      content:'';
      display: inline-block;
      width: 4px;
      height: 21px;
      background-color:$color;
    }
  }
  .search{
    margin:30px 0;
    height: 46px;
    display: flex;
    input{
      height: 46px;
      border: none;
      padding-left: 15px;
      background:url('../../../static/image/搜索框.png') no-repeat 0 0/100% 100%;
    }
    .func{
      padding:0 3%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      align-items:center;
      justify-content:space-between;

      .inputs{

      }
      .buttons{
        margin: -5px 0 0 10px;
      }
    }
  }
  .contain-head{
    padding: 5px 20px 0 20px;
    height: 59px;
    background:url('../../../static/image/头部.png') no-repeat 0 0/100% 100%;
    h3{
      font-size: 18px;
      line-height: 59px;
    }
  }
  .container{
    padding: 0 20px;
    flex:1;
    background:url('../../../static/image/中间框体.png') no-repeat 0 0/100% 100%;
    >:not(:last-child):not(.search){
      border-bottom:1px solid $color;
      margin-bottom: 15px;
      position: relative;
      &:before,&:after{
        border-radius: 15%;
        position:absolute;
        bottom: -2px;
        content:'';
        display: inline-block;
        width: 6%;
        height:3px;
        background-color:  $color;
      }
      &:before{
        left: -17px;
      }
      &:after{
        right: -17px;
      }
    }
  }
  &:after{
    content:'';
    display: inline-block;
    height: 59px;
    background:url('../../../static/image/底部.png') no-repeat 0 0/100% 100%;
  }
  .contain-foot{
    height: 59px;
    background:url('../../../static/image/底部.png') no-repeat 0 0/100% 100%;
  }
}
