@font-face{
  font-family: 'normal';
  src:url('../../../static/fonts/造字工房坚黑.ttf');
} 
// @font-face{
//   font-family: 'grid';
//   src:url('../../../static/fonts/Lantinghei.ttc');
// }

*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'normal';
  color:#91FFFF;
}
.layout-row{
	display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.layout-column{
	display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.flex{
	flex:1;
}
@for $i from 1 through 100 {
	.flex-#{$i} {
		flex:$i 0 $i+%;
	} 
}
.grid-box{
  .grid-head{
    background: url('') no-repeat;
  }
  .grid-containt{

  }
  &:after{
    content:'',
    background: url('../assets/image/');

  }
}
