/* input重置 */
$color:#91FFFF;
@mixin fontColor($middle:40%,$end:60%) {
  background:-webkit-linear-gradient(top,#fff,#fff $middle,#81a7a7 $end,#115A5A);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
/* 统一样式清除 */
// box-shadow
.ivu-select-visible .ivu-select-selection{
	box-shadow:none;
}
//border:
.ivu-select-selection{
	border:none;
}
.ivu-input{
	height:40px;
	background:url("../../../static/image/input.png") no-repeat 0 0/100% 100%;
	border:none;
	&:focus{
		box-shadow:none;
	}
	color:#fff;
}
.ivu-form-item{
	margin-bottom: 15px;
}
.ivu-checkbox-wrapper .ivu-checkbox-inner,.ivu-input,.ivu-select-selection{
	background-color:transparent;
}
.ivu-checkbox-wrapper .ivu-checkbox-inner{
	border-color:$color;
}
input::-webkit-input-placeholder{
	color: rgba(145,255,255,0.5) !important;
}
/* 表格重置 */
.wjptable{
	width: 100%;
	tr:nth-child(2n){
		background-color: rgba(33,55,55,.5);
	}
}
.ivu-table-wrapper{
	// border:1px solid #3a595c;
	border:none;
	.ivu-table{
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		background-color: transparent;
		th,td{
			border:none;
			background-color: transparent;
		}
		.ivu-table-header{
			thead{
				th{
					text-align: center;
				}
			}
		}

		.ivu-table-tbody{
			td{
				text-align: center;
			}
			tr:nth-child(2n) td{
				background-color: rgba(33,55,55,.5);
			}
		}
		.ivu-table-body{
			flex:1;
		}
		.ivu-table-row.ivu-table-row-hover td{
			background-color: rgba(80,105,105,.5);
		}
		&:after{
			width: 0;
		}
		&:before{
			height: 0;
		}
	}
}
/* 按钮重置 */
button{
	&.btn,&.ivu-btn{
		opacity: .8;
	    padding-top: 16px;
		border:none;
		background:url('../../../static/image/button.png') no-repeat 0 0/100% 100%;
		&:hover{
			background-color:transparent;
			opacity: 1;
			// background:url('../../../static/image/buttonHover.png') no-repeat 0 0/100% 100%;
		}
		&.del{
			span{
				color:red;
			}
			background:url('../../../static/image/delete.png') no-repeat 0 0/100% 100%;
			&:hover{
				opacity: 1;
				// background:url('../../../static/image/deleteHover.png') no-repeat 0 0/100% 100%;
			}
		}
	}
}
/* 按钮下拉重置 */
.ivu-select-dropdown{
	// &:before{
	// 	content:'';
	// 	display: inline-block;
	// 	width: 100%;
	// 	height:13px;
	// 	background:url('../image/header/usertop.png') no-repeat scroll 0 0/100% 13px content-box padding-box;
	// }
	// &:after{
	// 	content:'';
	// 	display: inline-block;
	// 	width: 100%;
	// 	height:13px;
	// 	background:url('../image/header/userbotton.png') no-repeat scroll 0 bottom/100% 13px content-box padding-box;
	// }
	// background-color:transparent;
	background:url('../image/header/usertop.png') no-repeat scroll 0 0/100% 13px content-box padding-box,
				url('../image/header/usermiddle.png') no-repeat scroll 0 center/100% 100% content-box padding-box,
			   url('../image/header/userbotton.png') no-repeat scroll 0 bottom/100% 13px content-box padding-box;
	.ivu-dropdown-menu,.ivu-select-dropdown-list{
		margin: 13px 0;
		background:url('../image/header/usermiddle.png') repeat-y scroll 0 0/100% 100% content-box padding-box;
		li{
			color:#fff;
		    margin: 0px 10px;
			margin: 0 10px;
			&:hover{
				background-color: rgba(68,111,106,.8);
			}
			&:not(:last-child){
				border-bottom: 1px solid #9fe6e6;
			}
		}
	}
}
/* 下拉框重置 */
html .ivu-select-single,.re-input{
	border: none;
	outline: none;
	color:#fff;
	height:40px;
	background:url("../../../static/image/input.png") no-repeat 0 0/100% 100%;
	&.re-input{
		padding: 0 5px;
	}
	.ivu-select-selection, .ivu-select-selection .ivu-select-placeholder, .ivu-select-selection .ivu-select-selected-value,.ivu-select-selection .ivu-select-placeholder, .ivu-select-selection .ivu-select-selected-value{
		height: 40px;
		line-height: 40px;
	}
	.ivu-select-input{
		color:#fff;
	    padding: 5px 24px 0 8px;
	}
	.ivu-select-arrow{
		color:$color;
		margin-top: -3px;
	}
}
/* 树重置 */
.ivu-tree{
	.ivu-tree-title{
		color:#fff;
		&:hover{
			background-color: #6b7777;
		}
	}
	.ivu-tree-title-selected{
		&:hover{
			background-color:$color;
		}
	}
	.ivu-icon-ios-folder-outline:before{
		content:'';
		display: inline-block;
		width:16px;
		height: 12px;
		background:url('../../../static/image/tree.png') no-repeat;
	}
}
/* 时间轴样式重置 */
.vis-timeline{
	.vis-label .vis-inner{
		@include fontColor;
		font-size: 16px;
		font-weight: bolder;
	}
	.vis-panel{
		&.vis-left{
			width:100px;
		}
	}
	.vis-foreground .vis-group{
		background:url('../image/dot.png') repeat-x center center;
		&:before,&:after{
			content:'';
			width: 8px;
			height: 9px;
			display: inline-block;
			position: absolute;
			top:calc(50% - 4.5px);
		}
		&:before{
			left: 0;
			background:url('../image/dotHead.png') no-repeat center center;
		}
		&:after{
			right:0;
			background:url('../image/dotHead.png') no-repeat center center;
		}
	}
	//消除样式
	&.vis-timeline,.vis-group,.vis-label,.vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right,.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-top,.vis-time-axis .vis-grid.vis-vertical{
		border:none;
	}
	.vis-time-axis .vis-text{
		color:$color;
	}
}
//tabs样式重置
.ivu-tabs{
	.ivu-tabs-bar{
	height:36px;
	border:none;
		.ivu-tabs-nav-wrap{
			margin-bottom: 0;
		}
		.ivu-tabs-nav{
			display: flex;
			align-items:center;
			background:url('../../../static/image/tabcenter.png') repeat-x;
			&:before{
				display: inline-block;
				width: 8px;
				height: 48px;
				background:url('../../../static/image/tableft.png') no-repeat;
			}
			&:after{
				display: inline-block;
				width: 8px;
				height: 48px;
				background:url('../../../static/image/tabright.png') no-repeat;
			}
			.ivu-tabs-tab{
				border:1px solid #495962;
				padding: 8px 30px;
				margin: 0;
				&:hover{
					// color:#0c141c;
				}
				&.ivu-tabs-tab-active{
					color:#0c141c;
					background-color: #7edcdc;
				}
			}
			.ivu-tabs-ink-bar{
				height:0;
			}
		}
	}
}
.ivu-btn{
	border: none;
	height: 40px;
	background:url("../../../static/image/input.png") no-repeat 0 0/100% 100%;
}
//弹窗样式
.ivu-modal{
	.ivu-modal-content{
		background:none;
		.ivu-modal-confirm{
			.ivu-modal-confirm-head{
				height: 53px;
				background:url('../../../static/image/modal/顶部.png') no-repeat 0 0/100% 100%;
				.ivu-modal-confirm-head-title{
					@include fontColor;
					font-size: 16px;
					line-height: 55px;
					margin-left: 10px;
				}
			}
			.ivu-modal-confirm-body{
			    margin-top: 0;
				padding-left: 10px;
				padding-top:20px;
				background:url('../../../static/image/modal/中间.png') no-repeat 0 0/100% 100%;
				.ivu-modal-confirm-body-icon{
					display: none;
				}
			}
			.ivu-modal-confirm-footer{
			    margin-top: 0;
				width: 100%;
			    padding-right: 20px;
				background:url('../../../static/image/modal/中间.png') no-repeat 0 0/100% 100%;
			}
			&:after{
				content:'';
				display:inline-block;
				width: 100%;
				height: 30px;
				background:url('../../../static/image/modal/底部.png') no-repeat 0 0/100% 100%;
			}
		}
	}
}
