/* input重置 */
$color:#91FFFF;
.ivu-input{
	&:focus{
		box-shadow:none;
	}
	color:$color;
}
.ivu-form-item{
	margin-bottom: 15px;
}
.ivu-checkbox-wrapper .ivu-checkbox-inner,.ivu-input{
	background-color:transparent;
}
.ivu-checkbox-wrapper .ivu-checkbox-inner{
	border-color:$color;
}
input::-webkit-input-placeholder{
	color: rgba(145,255,255,0.5) !important;
}
/* 表格重置 */
.ivu-table-wrapper{
	border:1px solid #3a595c;
	.ivu-table{
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		background-color: transparent;
		th,td{
			border:none;
			background-color: transparent;
		}
		.ivu-table-header{
			thead{

			}
		}

		.ivu-table-tbody{
			tr:nth-child(2n) td{
				background-color: rgba(33,55,55,.5);
			}
		}
		.ivu-table-body{
			flex:1;
		}
		.ivu-table-row.ivu-table-row-hover td{
			background-color: rgba(80,105,105,.5);
		}
		&:after{
			width: 0;
		}
		&:before{
			height: 0;
		}
	}
}
/* 按钮重置 */
button{
	&.btn{
	    padding-top: 16px;
		border:none;
		background:url('../../../static/image/button.png') no-repeat 0 0/100% 100%;
		&:hover{
			background-color:transparent;
			background:url('../../../static/image/buttonHover.png') no-repeat 0 0/100% 100%;
		}
	}
}